<div ng-if="imageData">
	<div class="row" ng-repeat="rows in imageData">
	    <div class="col-md-4" ng-repeat="item in rows">
	    	<div class="shot-container">
		        <a class="shot-container__thumb" ng-href="{{ item.image_url }}" style="background-image: url({{ item.image_thumb }})"></a>

		        <div class="shot-container__info">
		        	by <span class="shot-container__info___name">{{item.image_author}}</span> at {{item.image_date | amDateFormat: 'h:mm a'}}
		        </div>
		    </div>
	    </div>
	</div>
</div>