<div class="header">
    <div class="navbar  navbar-default  navbar-fixed-top" role="navigation">
        <div class="container-big">
            <div class="navbar-header  col-md-3">
                <a class="logo-top" href="/"></a>
            </div>
            <div class="navbar__links  col-md-8">
                <a ng-class="{'active': location.path().indexOf('prototype') === -1}" href="/">Screens</a>
                <!-- <a ng-class="{'active': location.path().indexOf('prototype') > -1}" href="/prototypes">Prototypes</a> -->
                <a class="navbar__links___coming-soon"><span class="hint--bottom" data-hint="Thode Din Ruko Bhai!">Prototypes</span></a>
                <a class="navbar__links___coming-soon"><span class="hint--bottom" data-hint="Coming soon!">Feedback</span></a>
                <a class="navbar__links___coming-soon"><span class="hint--bottom" data-hint="Stay Tuned!">Guidelines</span></a>
                <a class="navbar__links___coming-soon"><span class="hint--bottom" data-hint="Ye Bhi Ayega!">Research</span></a>
            </div>
            <div class="navbar__links  col-md-1">
                <a ng-click="logout()">Logout</a>
            </div>
        </div>
    </div>
</div>
