<div class="row">
	<div class="sidebar  col-md-3">
		<section class="sidebar__clusters">
			<p class="sidebar__clusters-header">Browse Clusters</p>
			<ul>
				<li ng-class="{'active': location.path().indexOf('cluster') === -1}"><a href="/">All Clusters</a></li>
				<li ng-class="{'active': location.path().indexOf('buy') > -1}"><a href="/cluster/buy">Buy</a></li>
				<li ng-class="{'active': location.path().indexOf('rentals master') > -1}"><a href="/cluster/rentals master">Rentals Master</a></li>
			</ul>
		</section>
	</div>
	<div class="col-md-9">
		<div ng-if="data">
			<div class="date-wise-section">
				<h2 class="date-wise-section__title">{{ data.image_author }} - {{ data.image_name }}</h2>
				<div class="full-image-container">
					<img class="full-image" ng-show="imageLoaded" image-on-load="imageLoaded = true" ng-src="{{ data.image_url }}" alt="">
				</div>
			</div>

			<div ng-hide="imageLoaded" class="main-loader"></div>

			<div id="disqus_thread" style="margin-bottom: 50px; padding-right: 30px"></div>
			<script type="text/javascript">
			    /* * * CONFIGURATION VARIABLES * * */
			    var disqus_shortname = 'durbeen';

			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
		</div>
	</div>
</div>
